In [2]:
print("Hello World")

Hello World

In [4]:
a=5
a

5

In [6]:
a=5
b=2
print(a)
print(b)

5
2

In [10]:
if 7>3:
    print("7 is greater than 3")

7 is greater than 3

In [12]:
type(a)

int

In [16]:
a,b,c="apple","mango","banana"
print(a)
print(b)
print(c)

apple
mango
banana

Viral\ is "good" \\ boy

In [22]:
print("Viral\\ is \"good\"boy")

Viral\ is "good"boy

In [1]:
l=["apple","Banana","mango","Cheery","Coconut"]
l[0::2]

['apple', 'mango', 'Coconut']

In [2]:
d = {
"Model":"Mustang",
"Brand":"Ford",
"Year":1964
}
d

{'Model': 'Mustang', 'Brand': 'Ford', 'Year': 1964}

In [6]:
d.keys()

dict_keys(['Model', 'Brand', 'Year'])

In [9]:
d.values()

dict_values(['Mustang', 'Ford', 1964])

In [11]:
d.items()

dict_items([('Model', 'Mustang'), ('Brand', 'Ford'), ('Year', 1964)])

In [12]:
d["Model"]

'Mustang'

In [14]:
d["Brand"]="Maruti"

In [15]:
d

{'Model': 'Mustang', 'Brand': 'Maruti', 'Year': 1964}

In [17]:
# d.get("like")

In [19]:
len(d)

3

In [24]:
d["Color"]="Red"
d

{'Model': 'Mustang', 'Brand': 'Maruti', 'Year': 1964, 'Color': 'Red'}

In [26]:
d.pop("Year")

KeyError: 'Year'

In [27]:
d

{'Model': 'Mustang', 'Brand': 'Maruti', 'Color': 'Red'}

In [28]:
d.popitem()

('Color', 'Red')

In [29]:
d

{'Model': 'Mustang', 'Brand': 'Maruti'}

In [31]:
d1=d.copy()
d1

{'Model': 'Mustang', 'Brand': 'Maruti'}

                                Operators

                            Conditional Statment

In [33]:
a=33
b=120
if b>a and b>100:
    print("B is Greater then a & 100")

B is Greater then a & 100

In [2]:
l=["apple","banana","cherry"]
l

['apple', 'banana', 'cherry']

In [6]:
fruit=input("entre the fruit name: ")
if fruit.lower() in l:
    print("your Fruit is in List")
else:
    print("You are not list")

entre the fruit name:
You are not list

In [9]:
x=100
if x>10:
    print("X is Greater than 10")
    if x>20:
        print("And also Greater than 20")
    else:
        print("But not Greater than 20")
else:
    print("X is not Greater than 10")

X is Greater than 10
And also Greater than 20

In [12]:
a=5
if type(a)==int:
    print("a is integer")

a is integer

In [15]:
b="Viral"
if type(b)==str:
    print("b is String")

b is String

In [17]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [21]:
i=1
while i<11:
    print(f"square of {i} is {i**2}")
    i+=1

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81
square of 10 is 100

In [23]:
i=1
while i<101:
    print(f"cube of {i} is {i**3}")
    i+=1

cube of 1 is 1
cube of 2 is 8
cube of 3 is 27
cube of 4 is 64
cube of 5 is 125
cube of 6 is 216
cube of 7 is 343
cube of 8 is 512
cube of 9 is 729
cube of 10 is 1000
cube of 11 is 1331
cube of 12 is 1728
cube of 13 is 2197
cube of 14 is 2744
cube of 15 is 3375
cube of 16 is 4096
cube of 17 is 4913
cube of 18 is 5832
cube of 19 is 6859
cube of 20 is 8000
cube of 21 is 9261
cube of 22 is 10648
cube of 23 is 12167
cube of 24 is 13824
cube of 25 is 15625
cube of 26 is 17576
cube of 27 is 19683
cube of 28 is 21952
cube of 29 is 24389
cube of 30 is 27000
cube of 31 is 29791
cube of 32 is 32768
cube of 33 is 35937
cube of 34 is 39304
cube of 35 is 42875
cube of 36 is 46656
cube of 37 is 50653
cube of 38 is 54872
cube of 39 is 59319
cube of 40 is 64000
cube of 41 is 68921
cube of 42 is 74088
cube of 43 is 79507
cube of 44 is 85184
cube of 45 is 91125
cube of 46 is 97336
cube of 47 is 103823
cube of 48 is 110592
cube of 49 is 117649
cube of 50 is 125000
cube of 51 is 132651
cube of 52 is 140608
cube of 53 is 148877
cube of 54 is 157464
cube of 55 is 166375
cube of 56 is 175616
cube of 57 is 185193
cube of 58 is 195112
cube of 59 is 205379
cube of 60 is 216000
cube of 61 is 226981
cube of 62 is 238328
cube of 63 is 250047
cube of 64 is 262144
cube of 65 is 274625
cube of 66 is 287496
cube of 67 is 300763
cube of 68 is 314432
cube of 69 is 328509
cube of 70 is 343000
cube of 71 is 357911
cube of 72 is 373248
cube of 73 is 389017
cube of 74 is 405224
cube of 75 is 421875
cube of 76 is 438976
cube of 77 is 456533
cube of 78 is 474552
cube of 79 is 493039
cube of 80 is 512000
cube of 81 is 531441
cube of 82 is 551368
cube of 83 is 571787
cube of 84 is 592704
cube of 85 is 614125
cube of 86 is 636056
cube of 87 is 658503
cube of 88 is 681472
cube of 89 is 704969
cube of 90 is 729000
cube of 91 is 753571
cube of 92 is 778688
cube of 93 is 804357
cube of 94 is 830584
cube of 95 is 857375
cube of 96 is 884736
cube of 97 is 912673
cube of 98 is 941192
cube of 99 is 970299
cube of 100 is 1000000

In [25]:
i=1
while i<10:
    print(i)
    if i==5:
        break
    i+=1

1
2
3
4
5

In [27]:
i=0
while i<10:
    i+=1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [29]:
i=1
while i<6:
    print("hello class")
    i+=1

hello class
hello class
hello class
hello class
hello class

In [31]:
for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [46]:
a=[]
for x in range (10,21):
    a.append(x)
a

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [52]:
for i in range(0,101,5):
    if i!=0:
        print(f"square of {i} is {i**2}")
print("Finished")

square of 5 is 25
square of 10 is 100
square of 15 is 225
square of 20 is 400
square of 25 is 625
square of 30 is 900
square of 35 is 1225
square of 40 is 1600
square of 45 is 2025
square of 50 is 2500
square of 55 is 3025
square of 60 is 3600
square of 65 is 4225
square of 70 is 4900
square of 75 is 5625
square of 80 is 6400
square of 85 is 7225
square of 90 is 8100
square of 95 is 9025
square of 100 is 10000
Finished

In [42]:
for y in a:
    if y == 6:
        continue
    print(y)

0
1
2
3
4
5
7
8
9
10

In [43]:
for y in a:
    print(y)
    if y == 6:
        break

0
1
2
3
4
5
6

In [44]:
for d in "4949":
    print(d)

4
9
4
9

In [64]:
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for i in adj:
    for j in fruits:
        print(i,j)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [68]:
for i in range (len(adj)):
    print(f"{adj[i]} {fruits[i]}")

red apple
big banana
tasty cherry

In [1]:
def sample():
    print("hello")
    print("h r u")

In [3]:
sample()

hello
h r u

In [5]:
def my_func(a,b,c,d):
    return a+b-c*d
x=int(input("enter number: "))
y=int(input("enter number: "))
z=int(input("enter number: "))
q=int(input("enter number: "))
my_func(x,y,z,q)

KeyboardInterrupt: Interrupted by user

In [12]:
def square(a):
    for i in range(1,a+1):
        print(i**2)
square(5)

1
4
9
16
25

In [16]:
def typeof(a):
    print(f"the data type of variable is {type(a)}")
typeof("hi")

the data type of variable is <class 'str'>

In [17]:
def my_func2(a=4,b=5):
    return a+b
my_func2()

9

In [18]:
my_func2(9)

14

In [19]:
square=lambda a:a**2
square(5)

25